<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @apprenticeship.teacher.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @apprenticeship.student.name %>
</p>

<%= link_to 'Edit', edit_apprenticeship_path(@apprenticeship) %> |
<%= link_to 'Back', apprenticeships_path %>
